* {
    margin: 0;
}

body {
    font-family: monospace;
    background-color: #1a1a2e;
    color: #f0f0f0;
    min-height:100vh; 
    display: flex;
    flex-direction: column;
}

.imagen-logo {
    aspect-ratio: 2 / 1;
    height: auto;
    max-height: 150px;
    display: block;
}

main {
    padding: 20px;
    flex: auto;
}

h1, h2, h3 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
    margin-bottom: 15px;
    color: #e50914;
}

.titulo-rojo {
    color: #e50914;
}

.titulo-seccion {
    text-align: center;
    padding: 20px 0 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.principal {
    background-color: #2e3549;
    padding: 15px 30px;
    border-bottom: 2px solid #e50914;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-serie {
    font-size: 50px;
    color: #e50914;
}

.menu-navegacion ul {
    font-size: large;
    display: flex;
    gap: 25px;
}

.menu-navegacion .enlace-menu {
    padding: 5px 2px;
    position: relative;
    color: #f0f0f0;
    text-decoration: none;
}

.menu-navegacion .enlace-menu::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #e50914;
}

.menu-navegacion .enlace-menu:hover {
    color: #e50914;
}

.enlace-menu.activo {
    color: #e50914;
    font-weight: bold;
}

.enlace-menu.activo::after {
    content: none;
}

.boton {
    display: inline-block;
    padding: 12px 25px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; 
}

.boton-rojo {
    background-color: #e50914;
    color: #f0f0f0;
    text-shadow: 1px 1px 3px #1a1a2e;
    margin-top: 15px;
}

.boton-rojo:hover {
    background-color: #ff2d47;
    transform: translateY(-4px); 
    box-shadow: 0 8px 15px rgba(229, 9, 20, 0.6); 
}

.boton:active {
    transform: translateY(0); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px;
    padding: 20px;
}

.seccion-intro {
    background-color: #1a1a2e;
    padding: 80px 20px;
    text-align: center;
    border-bottom: 5px dashed #555555;
}

.caja-lugares {
    border: 1px solid #e50914;
    background-color: #2e3549;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.caja-lugares:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(229, 9, 20, 0.4);
}

.caja-flexible {
    display: flex; 
    gap: 40px;
    padding: 40px 20px;
}

.texto-historia {
    flex: 2;
}

.subtitulo-seccion {
    margin: 20px 0px 10px 0px;
}

.caja-audio {
    flex: 1;
    padding: 20px;
    background-color: #2e3549;
    border-radius: 8px;
    box-shadow: 0 0 10px #e50914;
}

.caja-audio audio {
    width: 100%;
    margin-top: 10px;
}

.imagen-portal {
    max-width: 100%;
    height: auto;
    display: block;
}

.contenedor-mensaje {
    padding: 60px 20px;
    text-align: center;
    background-color: #2e3549;
    border-radius: 8px;
    margin: 40px auto;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(229, 9, 20, 0.5);
}

.codigo-error {
    font-size: 3rem;
    color: #e50914;
    margin-bottom: 20px;
    animation: bounce 2s infinite; 
}
.codigo-error {
    font-size: 5rem;
}

.pie-pagina {
    background-color: #2e3549;
    color: #aaaaaa;
    text-align: center;
    padding: 20px;
    margin-top: auto; 
    border-top: 1px solid #555555;
}

.enlaces-sociales a {
    margin: 0 10px;
    color: #aaaaaa;
}

.enlaces-sociales a:hover {
    color: #e50914;
}